################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.nupkg
/src/ChannelAdam.Core/bin
/src/ChannelAdam.Core/obj
/src/packages
*.suo
/src/ChannelAdam.Core/StyleCop.Cache
/src/ChannelAdam.Core/ChannelAdam.Core.csproj.user
/src/ChannelAdam.Core.BehaviourSpecs/bin/Debug
/src/ChannelAdam.Core.BehaviourSpecs/obj/Debug
/src/ChannelAdam.Core.BehaviourSpecs/ChannelAdam.Core.BehaviourSpecs.csproj.user
/src/ChannelAdam.Core/TransientFaultHandling.csproj.user
/src/.vs/ChannelAdam.Core/v15/Server/sqlite3
